@charset "ISO-8859-1";

form{
    background-color: rgba(247, 239, 239, 0.87);
    width : 100%;
    box-sizing: border-box;
    padding-top: 40px;
}

div{
    padding-left: 3%;
}

input{
    width : 95%;
    height: 40px;
    border-radius: 5px;
    border-color:rgba(183, 199, 202, 0.973);
    border-width: 1pt;
    text-align: left;
    font-size: small;
    padding-left: 20px;
}

button{
    background-color: rgb(55, 131, 194);
    width: 97%;
    height: 40px;
    display: inline;
    color: aliceblue;
    border-radius: 10px;
    border-width: 1pt;
    font-size: medium;
}